//=====================================================

// top.scss

//======================================================


// main

.main {
	text-align: center;
	img {
		max-width: none;
		width: 100%;
	}
}


// obi

.obi {
	background: url(../images/top/obi_bg.jpg);
	box-shadow: 0 0 8px rgba(0, 0, 0, .6) inset;
	.inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		li {
			padding: 23px 10px;
		}
	}
}


// info

.info {
	margin-bottom: 100px;
	padding: 60px 0 30px;
	.inner {
		max-width: 960px;
		.left {
			position: relative;
			float: left;
			width: 62.5%;
			&::before {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				width: 100%;
				height: 1px;
				margin: 0 auto;
				text-align: center;
				background-image: linear-gradient(to right, transparent, #fff 25%, #fff 75%, transparent);
				background-position: center;
				background-repeat: no-repeat;
			}
		}
	}
	.left {
		.ttl {
			font-size: 1.14rem;
			margin-bottom: 30px;
			letter-spacing: .1rem;
		}
		.lead {
			font-size: 1.71rem;
			font-weight: bold;
			margin-bottom: 30px;
		}
	}
	.lead .small {
		font-size: 1rem;
	}
	.inner .right {
		float: right;
		width: 28.12%;
	}
	.right .btn {
		font-size: 1rem;
		min-width: 270px;
		width: 100%;
		font-size: 1.14rem;
		text-align: center;
		margin-bottom: 15px;
		letter-spacing: .1rem;
		a {
			padding: 20px 99px;
			display: block;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.hibiya {
	background: url(../images/top/bg_flower.jpg);
	padding: 70px 0 60px;
	.box {
		position: relative;
		max-width: 960px;
		margin: 0 auto;
		background: rgba(255, 255, 255, .85);
		color: brown;
		padding: 45px 35px;
		text-align: center;
		font-weight: bold;
		box-shadow: 6px 6px 30px #000;
		&::before {
			position: absolute;
			display: block;
			content: "";
			border: 1px solid #fff;
			margin: 10px;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
		.leaf {
			position: absolute;
			top: -10px;
			left: -17px;
		}
		.l1 {
			font-size: 1.85rem;
			margin-bottom: 30px;
			letter-spacing: .1rem;
			line-height: 1.6em;
		}
		.l2 {
			font-size: 1.42rem;
			margin-bottom: 30px;
			letter-spacing: .1rem;
		}
		.l3 {
			font-size: 1.14rem;
			margin-bottom: 30px;
			letter-spacing: .06rem;
		}
	}
}

//-------------------------------
//container
//-------------------------------

.container {
	background: url(../images/top/bg_cont.jpg);
}

// cont_btn

.cont_btn {
	padding: 100px 0;
	ul li {
		max-width: 960px;
		margin: 0 auto;
		.box {
			max-width: 608px;
			width: 63.34%;
			height: 430px;
			box-shadow: 7px 7px 25px #000;
			position: relative;
			z-index: 1000;
			transition: 3s ease-out;
			&.bg01 {
				background: url(../images/top/cont_btn01.jpg);
			}
			&.bg02 {
				background: url(../images/top/cont_btn02.jpg);
			}
			&.bg03 {
				background: url(../images/top/cont_btn03.jpg);
			}
			&.bg04 {
				background: url(../images/top/cont_btn04.jpg);
			}
			&.bg05 {
				background: url(../images/top/cont_btn05.jpg);
			}
			&.bg06 {
				background: url(../images/top/cont_btn06.jpg);
			}
			a {
				display: block;
				width: 100%;
				height: 430px;
			}
			.inner {
				position: absolute;
				top: 33%;
				left: 0;
				right: 0;
			}
			.txt {
				color: #fff;
				font-size: 3.85rem;
				font-weight: bold;
				text-align: center;
				.small {
					font-size: 1.85rem;
				}
			}
			&::before {
				display: block;
				content: "";
				background: brown;
				height: 1px;
				width: 100px;
				position: absolute;
				right: -50px;
				bottom: 25px;
				pointer-events: none;
			}
			&::after {
				display: block;
				content: "more";
				color: brown;
				position: absolute;
				bottom: 16px;
				right: -90px;
				font-size: 1rem;
				letter-spacing: 0;
				font-weight: bold;
				pointer-events: none;
			}
		}
		.txt_box {
			background: #fff;
			box-shadow: 7px 7px 25px #000;
			font-weight: bold;
			width: 62.5%;
			height: 350px;
			margin-top: -265px;
			margin-left: 37.5%;
			margin-bottom: 60px;
			a {
				display: block;
				width: 100%;
				height: 350px;
			}
			.lead {
				color: brown;
				position: relative;
				left: 48%;
				top: 100px;
			}
		}
	}
	ul li:nth-child(2n) {
		.box {
			right: -36.66%;
			&::before {
				left: -50px;
			}
			&::after {
				left: -90px;
			}
		}
		.txt_box {
			position: relative;
			left: -37.5%;
			.lead {
				left: 3%;
			}
		}
	}
}

// res_wrap

.res_wrap {
	background: url(../images/top/res_bg.jpg);
	text-align: center;
	padding: 30px 0;
	.lead {
		font-size: 1.71rem;
		margin-bottom: 20px;
	}
	.btns {
		max-width: 570px;
		margin: 0 auto;
		.btn {
			width: 47.37%;
			float: left;
			margin-right: 5.26%;
			font-size: 1.14rem;
			text-align: center;
			letter-spacing: .1rem;
			a {
				display: block;
				padding: 20px 99px;
			}
		}
		.btn:last-child {
			margin-right: 0;
		}
	}
}

@include mq() {
	.obi {
		.inner {
			li {
				padding: 15px 10px;
			}
		}
	}

	.info {
		margin-bottom: 2vh;
		.left {
			.lead {
				font-size: 1.2rem;
			}
		}
		.right {
			.btn {
				min-width: inherit;
				a {
					padding: 10px;
				}
			}
		}
	}

	.hibiya {
		.box {
			margin: 0 20px;
			.leaf {
				top: -35px;
			}
			.l1 {
				font-size: 1.2rem;
				margin-bottom: 10px;
			}
			.l2 {
				font-size: 1.1rem;
				margin-bottom: 10px;
			}
			.l3 {
				font-size: 1rem;
				margin-bottom: 10px;
			}
		}
	}
	.cont_btn {
		padding: 2vh 20px;
		ul {
			li {
				.box {
					height: 40vh;
					.txt {
						font-size: 2.0rem;
						.small {
							font-size: 1.5rem;
						}
					}
				}
				.txt_box {
					height: 40vh;
					.lead {
						font-size: 1.0rem;
						letter-spacing: .1em;
					}
				}
			}
		}
	}
}

@include mq(sp) {
	.obi {
		.inner {
			flex-wrap: wrap;
			li {
				width: 50%;
				text-align: center;
			}
		}
	}

	.info {
		.inner {
			.left {
				width: 100%;
				float: none;
				.ttl {
					margin-bottom: 1vh;
				}
				.lead {
					font-size: 1rem;
				}
				&::before {
					bottom: -10px;
				}
			}
			.right {
				width: 100%;
				float: right;
			}
		}
	}

	.hibiya {
		.box {
			.leaf {
				width: 25%;
			}
			.l1 {
				font-size: .8rem;
			}
			.l2 {
				font-size: .8rem;
			}
			.l3 {
				text-align: left;
				font-size: .6rem;
			}
		}
	}

	.cont_btn {
		ul {
			li {
				.box {
					width: 90%;
					height: 30vh;
					&::before {
						background: #fff;
						right: 230px;
						bottom: 30px;
					}
					&::after {
						color: #fff;
						right: 190px;
						bottom: 22px;
					}
					.inner {
						top: 27%;
					}
					&.bg02 .inner {
						top: 17%;
					}
					&.bg04 .inner {
						top: 23%;
					}
				}
				.txt_box {
					width: 70%;
					height: 15vh;
					margin: -10px 0 30px auto;
					z-index: 1000;
					position: relative;
					.lead {
						top: 25%;
						left: 0;
						right: 0;
						text-align: center;
						position: absolute;
					}
					.lead03 {
						top: 40%;
					}
					.lead05 {
						top: 13%;
					}
					.lead06 {
						top: 32%;
					}
				}
			}
			li:nth-child(2n) {
				.box {
					right: -30px;
					&::after {
						left: -40px;
					}
					&::after {
						left: 56px;
					}
				}
				.txt_box {
					margin: -10px auto 30px 0;
					left: 0;
				}
			}
		}
	}

	.res_wrap {
		.btns {
			.btn {
				width: 94%;
				float: none;
				margin: 0 auto 2.5vh;
			}
			.btn:last-child {
				margin: 0 auto;
			}
		}
	}
}