@charset "UTF-8";

//=====================================================

//変数定義

//======================================================

/* contents width
-----------------------------------------------------------------*/
$cont_w: 1440px;
$inn_w: 1024px;

/* color
-----------------------------------------------------------------*/
$black: #333;

/* break point
-----------------------------------------------------------------*/

$breakpoints: (
	'sp': 'screen and (max-width: 767px)',
	'tb': 'screen and (max-width: 989px)',
	'pc': 'screen and (max-width: 1023px)',
	'xl': 'screen and (max-width: 1439px)',
) !default;